.feedback
{
    padding-left: 50px;
    padding-top: 10px;
}

.workInfo .workInfoTitle
{
    display: block;
    width: 250px;
    float: left;
}

.workInfo .workInfoValue
{
    margin-left: 250px;
}

.workInfo blockquote
{
    margin-left: 0;
    padding-left: 0;    
}

.workCmdList
{
    padding-top: 10px; 
    margin-left: 250px;
}

