/**
 $Id: profile.css 13358 2011-07-25 12:47:00Z abourguignon $
 **/

#userProfileBox #userProfile
{
    margin-top: 0.3em;
    padding: 5px;
}

#userProfileBox #userPicture {
    margin: 0;
    padding-top: 0.3em;
    text-align: center;
}

#userProfileBox #userPicture img.userPicture {
    border: 5px solid #fff;
    -moz-box-shadow: 0px 0px 5px #999;
    -webkit-box-shadow: 0px 0px 5px #999;
    box-shadow: 0px 0px 5px #999;
}

#userProfileBox #userDetails {
    padding-top: 0.5em;
    clear:both;
}

#userProfileBox #userDetails span {
    display: inline-block;
    width: 6em;
    font-size: 0.9em;
    font-weight: bold;
}