/**
 $Id: main.css 14157 2012-05-22 06:41:04Z zefredz $
 **/


/******************************************************************************
                        MAIN HTML MARKUP
******************************************************************************/

* {
    /* IE bug ! Initial value should be set in % as IE cannot handle em if character size is modified by user */
   font-size: 100%;
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    color: #444;
    background: #FFF;
    text-align: left;
    font-family: Arial, Verdana, Helvetica, Sans-Serif;
}

a:link, a:visited {
    color: #369;
    text-decoration: none;
}

a:hover, a:active {
    color: #111C99;
    text-decoration: none;
}

a img {
    border: none;
    text-decoration: none;
}

small {
    font-size: 0.9em;
}

h1, 
h2, 
h3, 
h4, 
h5 {
    font-weight: bold;
}

h1 {font-size: 2em;}
h2 {font-size: 1.6em;}
h3 {font-size: 1.3em;}
h4 {font-size: 1.1em;}
h5 {font-size: 1.0em;}

ul {
    list-style-type: square;
    list-style-position: inside;
    margin-left: 0;
    padding-left: 1em;
    text-indent: -1em;

}

table td {
    vertical-align: top;
}

hr {
    height: 1px;
    margin: 10px 0;
    border: 0;
    background-color: #DDDDDD;
    color: #DDDDDD;
}


.spacer {
    clear: both;
}

.clearer {
    width: 0;
    margin: 0;
    padding: 0;
    border: 0;
    visibility: hidden;
    clear: both;
}


/******************************************************************************
                        FORMS MARKUP
******************************************************************************/

label {
    cursor: pointer;
}

input, textarea, select {
    padding: 2px;
    border: 1px solid #CCC;
    background: #FFF;
}

input[type=submit], input[type=reset], input[type=button], button {
    margin: 5px 0 0 0;
    padding: 1px 0.5em;
    border: 1px solid #114477;
    background: url(img/bg_button.png) repeat-x top #336699;
    box-shadow: none;
    color: #FFF;
    font-weight: bold;
    cursor: pointer;
}

input[type=submit]:hover, button:hover, input[type=button]:hover {
    background-color: #225588;
}

input[type=radio], input[type=checkbox] {
    border: 0;
    background: transparent;
    margin: 0.1em 0.2em 0.1em 0;
    padding: 0;
    vertical-align: middle;
}

input.inputSearch {
    background: url(img/search.png) no-repeat #fff;
    background-position: 2px 2px;
    padding-left: 18px;
}

.collapsible a.doCollapse {
    background: transparent url(img/menu-expanded.gif) no-repeat scroll 0 50%;
    padding-left: 1.5em;
}

.collapsed a.doCollapse {
    background: transparent url(img/menu-collapsed.gif) no-repeat scroll 0 50%;
}

fieldset {
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #DDDDDD;
}

fieldset legend { font-weight: bold; }

fieldset dt label {
    margin: 0;
    padding: 0;
    cursor: pointer;
}

.claroDialogBox fieldset {
    margin: 0;
    padding: 0;
    border: 0;
}

dl.onOneLine dt, fieldset dl dt {
    clear: both;
    float: left;
    width: 20%;
    padding: 1px;
    margin: 2px 0;
}

dl.onOneLine dd, fieldset dl dd {
    float: left;
    padding: 1px;
    width: 70%;
    margin: 2px 0;
}

.captionBlock {
    width:45em;
    padding-left:2px;
    margin-left:0;
}

/* Notice: for forms' help and guidance */
/* Comment: for documents and exercices comments */
.notice, 
.comment {
    font-size: 0.9em;
    color: #999;
} 

.comment {
    margin-left: 30px;
}

table.multiselect {
    margin-left: -3px;
}

/* Multiselect table */
table.multiselect select {
    min-width: 250px;
    height: 150px;
}

table.multiselect td.arrows {
    vertical-align: middle;
}

table.multiselect option.hidden {
    color: #777777;
}

/* Specific fieldset and legend styles */
#courseSettings fieldset legend, 
#userSettings fieldset legend  {
    font-weight: bold;
    color: #444;
    margin-left: 0px;
    padding: 5px;
    border: 1px solid #DDDDDD;
    background: #fff;
}

/* Redirector field */
#redirector select {
    background: none;
    border: 1px solid #DDDDDD;
}


/******************************************************************************
                        CLAROLINE PAGE
******************************************************************************/

#claroPage {
    
}


/******************************************************************************
                        CLAROLINE HEADER
******************************************************************************/

#topBanner {
    background: url(img/bg_header.gif) repeat-x scroll left top #C5D4E2;
}

/*-----------------------------------------------------------------------------
                        PLATFORM BANNER
-----------------------------------------------------------------------------*/

#platformBanner {
    margin: 0;
    padding: 10px 15px 10px 15px;
    color: #fff;
    font-weight: bold;
}

#platformBanner a,
#platformBanner a:active,
#platformBanner a:link,
#platformBanner a:visited {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

#platformBanner a:hover {
    text-decoration: underline;
    font-weight: bold;
}


#platformBanner #siteName a {
    letter-spacing: 3px;
    font-size: 1.3em;
    font-weight: 900;
    text-shadow: 0px 0px 9px #000; 
}

#platformBanner #institution {
    letter-spacing: 3px;
    font-size: 1.3em;
}


/*-----------------------------------------------------------------------------
                        CAMPUS BANNER
-----------------------------------------------------------------------------*/

#campusBannerRight {
    float: right;
    text-align: right;
    margin-top: -1px;
    padding: 5px;
    margin: 0;
}

#campusBannerLeft {
    float: left;
    text-align: left;
    margin-top: -1px;
    padding: 5px 0px;
    margin: 0;
}


/*-----------------------------------------------------------------------------
                        USER BANNER
-----------------------------------------------------------------------------*/

#userBanner {
    height: 30px;
    margin: 0;
    padding: 0 15px;
    border: 0;
    color: #999;
    font-weight: bold;
    font-size: 0.8em;
    text-align: left;
    overflow: hidden;
}

#userBanner a,
#userBanner a:link,
#userBanner a:visited {
    color: #336699;
    text-decoration: none;
}

#userBanner a:hover,
#userBanner a:active {
    color: #111C99;
    text-decoration: none;
}

#userBannerRight {
    float: right;
}

#userBannerLeft {
    float: left;
}

#userBanner ul.menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    border: 0;
    text-indent: 0;
}

#userBanner ul.menu li {
    float: left;
    display: block;
    margin: 0;
    padding: 0;
    height: 30px;
    text-align: center;
    line-height: 2.4em;
    background: #fff;
}

#userBanner ul.menu li span {
    padding: 0 5px;
    border-right: 1px solid #DDDDDD;
}

#userBanner ul.menu li.userName {
    padding: 0 20px 0 5px;
    color: #693;
    background: #DDDDDD url(img/bg_username.png) no-repeat right center;
}

#userBanner ul.menu li:last-child span {
    border-right: 0;
}


/*-----------------------------------------------------------------------------
                        BREAD CRUMB TRAIL
-----------------------------------------------------------------------------*/

#breadcrumbLine {
    font-size: 0.8em;
    color: #666;
    border: none;
    padding : 10px 15px 5px 15px;
    background: #fff;
}

#breadcrumbLine hr {
    display: none;
}

#breadcrumbLine .breadcrumbTrails {
    float: left;
}

#breadcrumbLine #toolViewOption {
    float: right;
    text-align: right;
}

ul.breadCrumbs {
    padding:0;
    margin:0;
    /* list-style: none; */
    display:inline;
}

li.breadCrumbsNode {
    display:inline;
    list-style: none
}

li.firstBreadCrumbsNode {
    display:inline;
    list-style: none;
}

li.lastBreadCrumbsNode {
    display:inline;
    list-style: none;
}


/******************************************************************************
                        CLAROLINE BODY
******************************************************************************/

#claroBody {
    padding:15px;
    font-size: 0.8em;
}

#claroBody a:hover,
#claroBody a:active {
    color: #111C99;
}

#claroBody a.item {
    border: 0;
}

#claroBody a.item:hover,
#claroBody a.item:active {
    color: #111C99;
}

#courseLeftSidebar {
    position: relative;
    width: 220px;
    margin: 0;
    padding: 0;
    border-right: 1px solid #DDDDDD;
    float: left;
}

#courseRightContent {
    margin-left: 220px;
    padding-left: 10px;
    border-left: 1px solid #DDDDDD;

}

#leftSidebar {
    padding: 0;
    margin: 0;
    float: left;
    width: 220px;
    border-right: #DDDDDD solid 1px;
}

#rightContent {
    padding: 0;
    margin-left: 230px;

}

#rightSidebar {
    width: 220px;
    padding-left: 5px;
    margin: 0;
    float: right;
    border-left: #DDDDDD solid 1px;
}

#leftContent {
    padding: 0;
    margin-right: 240px;
}


/******************************************************************************
                        CLAROLINE FOOTER
******************************************************************************/

#campusFooter {
    margin: 0;
    padding: 15px 15px;
    font-size: 0.7em;
    color: #666;
    background: url(img/bg_footer.jpg) repeat-x top left #fff;
}

#campusFooter a:link,
#campusFooter a:visited {
    color: #666;
    font-weight: bold;
}

#campusFooter a:hover,
#campusFooter a:active {
    color: #369;
    font-weight: bold;
}

#campusFooter hr {
    display: none;
}

#campusFooterRight {
    float: right;
    text-align: right;
    padding: 0;
}

#campusFooterLeft {
    float: left;
    padding: 0;
}

#campusFooterCenter {
    clear: both;
    text-align: center;
}


#campusFooterCenter .poweredBy {
    padding-left: 20px;
    font-style: italic;
    background: url(img/claroline.png) no-repeat left center;
}


/******************************************************************************
                        PORTLETS and ITEMS
******************************************************************************/

/**
Use .item to easily display lists of items (announces, descriptions, ...)
Use .portlet for desktop or course portlets
**/
.item,
.portlet {
    margin-bottom: 5px;
    border-bottom: 1px solid #DDDDDD;
}

.item .content,
.item .lnk_link_panel,
.item .manageTools,
.portlet .content {
    margin-top: 0.3em;
    padding: 5px;
}

.item h1,
.portlet h1 {
    margin: 0;
    padding: 2px 5px 2px 5px;
    text-transform: none;
    font-size: 1em;
    font-weight: bold;
    color: #444;
    background-color: #DDDDDD;
    border-bottom: 1px solid #444;
}

.item h1 img,
.portlet h1 img {
    margin-bottom: -2px;
}

.item.hidden h1,
.item.hidden .content, 
.portlet.hidden h1
{
    color: #888;
}

.item h2, 
.item h3, 
.item h4, 
.portlet h2, 
.portlet h3, 
.portlet h4 {
    font-weight: bold;
    margin: 0 0 5px 0;
    padding: 0;
}

.item h2, 
.portlet h2 {
    margin: 0 0 3px 0;
    font-size: 1.0em;
}

.item h3, 
.portlet h3 {
    margin: 0 0 3px 0;
    font-size: 1.0em;
    text-transform: none;
}

.item dl, 
.item dt, 
.item dd,
.portlet dl, 
.portlet dt, 
.portlet dd {
    margin: 0;
    padding: 0;
}

.item ul, 
.item dl, 
.portlet ul, 
.portlet dl {
    margin-bottom: 15px;
}

.item dd, 
.portlet dd {
    margin-bottom: 0.5em;
}

.porletIcon {
    float:right;
    margin:auto;
    padding:0;
}

.portlet .iconDefinitionList {
    list-style-position:inside;
    margin:0;
    padding:0;
}

/* Distinct claroTables inside portlets */
.portlet table.claroTable thead tr td,
.portlet table.claroTable tbody tr td {
    color: #444444;
    background: #f3f7e8;
}
.portlet table.claroTable thead tr td.highlight,
.portlet table.claroTable tbody tr td.highlight {
    color: #FFF;
    background: #444444;
}
.portlet table.claroTable thead tr th,
.portlet table.claroTable tbody tr th {
    color: #444444;
    background: #f3f7e8;
    border-bottom: 1px solid #444444;
}



/******************************************************************************
                        COURSE PAGE
******************************************************************************/

/*-----------------------------------------------------------------------------
                        COURSE TABS
-----------------------------------------------------------------------------*/

ul.coursesTabs {
    margin: 0 0 0 10px;
    padding: 0;
    border: 0;
    text-indent: 0;
    list-style-type: none;
}

ul.coursesTabs li {
    float: left;
    margin: 0 10px 0 0;
    padding-top: 3px;
    text-align: center;
    font-weight: bold;
    background: url(img/bg_tab.png) repeat-x bottom #EEEEEE;
}

ul.coursesTabs li a {
    display: block;
    width: 100px;
    height: 30px;
    line-height: 2.4em;
}

ul.coursesTabs li.more a {
    width: 30px;
}

ul.coursesTabs li.current, 
ul.coursesTabs li:hover {
    background: #ddd;
    padding-top: 0;
    border-top: 3px solid #336699;
}

div.tabbedCourse {
    padding: 0;
    border-width: 2px;
    border-style: solid;
    border-color: #ddd;
}


/*-----------------------------------------------------------------------------
                        COURSE INFOS
-----------------------------------------------------------------------------*/

.courseInfos {
    padding: 10px;
    background: #ddd;
}

.courseInfos h2 {
    float: left;
    margin: 0;
    padding: 0 5px 0 0;
    border-right: 1px dotted black;
    font-size: 2em;
    text-transform: uppercase;
}

.courseInfos p {
    float: left;
    margin: 0;
    padding: 0 0 0 5px;
}

.groupInfos h3 {
    float: left;
    margin: 0;
    padding: 0 5px 0 0;
    text-transform: uppercase;
}

.groupInfos p {
    float: left;
    margin: 0;
    padding: 0 0 0 5px;
    border-left:1px dotted black;
}


/* Source courses */
ul.coursesTabs li.sourceCourse {
    background-color: #c1d1e1;
}

ul.coursesTabs li.sourceCourse.current, 
div.tabbedCourse.sourceCourse .courseInfos {
    background-color: #c1d1e1;
}

div.tabbedCourse.sourceCourse {
    border-color: #c1d1e1;
}


/*-----------------------------------------------------------------------------
                        COURSE CONTENT
-----------------------------------------------------------------------------*/

.courseContent {
    padding: 10px;
}


/*-----------------------------------------------------------------------------
                        COURSE TOOL LIST
-----------------------------------------------------------------------------*/

a#toggleLeftMenu {
    display: block;
    position: absolute;
    top: 50%;
    width: 10px;
    height: 20px;
    outline: none;
}

a#toggleLeftMenu.show {
    background: url(img/arrow_right.png) no-repeat;
    right: -10px;
}

a#toggleLeftMenu.hide {
    background: url(img/arrow_left.png) no-repeat;
    right: 0;
}

.toolList ul {
    list-style-type: none;
    margin: 0;
}

a.currentTool {
    font-weight: bold;
}

/*-----------------------------------------------------------------------------
                        GROUP TOOL LIST
-----------------------------------------------------------------------------*/

ul.groupToolList {
    margin: 0;
    padding: 0;
    list-style-type: none;
}


/******************************************************************************
                        COURSE LISTS
******************************************************************************/

dl.courseList {
    display: inline-block;
    margin: 0 0 10px 0;
    padding: 0;
}

dl.courseList dt {
    margin: 0;
    padding: 0;
}

dl.courseList dd {
    margin: 0 0 5px 0;
    padding: 0 0 5px 20px;
    border-bottom: 1px solid #DDDDDD;
}

dl.courseList dd:last-child {
    border-bottom: 0;
}

dl.courseList h4 {
    margin: 0;
}

dl.courseList .role {
    float: right;
    margin-left: 10px;
}

dl.courseList .enrolment {
    float: right;
    margin-left: 10px;
}

dl.courseList dt.deactivated {
    color: #999;
}

span.managerString {
    font-size: 75%;
}

/*-----------------------------------------------------------------------------
                        SUB LISTS (for session courses)
-----------------------------------------------------------------------------*/

dl.courseList dl {
    margin: 5px 0 0 0;
    padding: 5px 0 0 0;
    border-top: 1px solid #DDDDDD;
}


/******************************************************************************
                        TOOL TITLE
******************************************************************************/

.toolTitleBlock {margin-bottom: 10px;}

.toolTitleBlock .superTitle, 
.toolTitleBlock .mainTitle, 
.toolTitleBlock .subTitle {
    margin: 0;
    padding: 0;
}

.toolTitleBlock .mainTitle {
    white-space: nowrap;
    height: 100%;
    padding-right: 5px;
    font-weight: normal;
    text-transform: uppercase;
}

.toolTitleBlock .subTitle, 
.toolTitleBlock .superTitle {
    color: #666;
    letter-spacing: 0.2em;
}

.toolTitleBlock ul.commandList {
    padding-left: 5px;
    border-left: 1px dotted black;
}

ul.commandList {
    margin: 0;
    padding: 0;
    border: 0;
    list-style-type: none;
    text-indent: 0;
}

ul.commandList li {
    display: inline-block;
    margin: 0;
    padding: 0;
    border: 0;
}

ul.commandList li a {
    display: block;
    height: 16px;
    margin: 0 0 3px 0;
    padding: 0;
    border: 5px solid #DDD;
    font-weight: bold;
    background-color: #DDD;
    border-radius: 3px;
}

ul.commandList li a:hover {
    background-color: #CCCCCC;
    border: 5px solid #CCCCCC;
}

ul.commandList li a.help {
    width: 16px;
    border-color: #CCDDEE;
    background-color: #CCDDEE;
    background-image: url(img/help.png);
    background-repeat: no-repeat;
}

ul.commandList li a.help:hover {
    border-color: #BBCCDD;
    background-color: #BBCCDD;
}

.toolTitleBlock table, 
.toolTitleBlock tr,
.toolTitleBlock td {
    margin: 0; 
    padding: 0;
    border: 0;
    border-collapse:collapse;
}


/******************************************************************************
                        ADMIN PANEL
******************************************************************************/

/*-----------------------------------------------------------------------------
                        ADMIN TABLE
-----------------------------------------------------------------------------*/

ul.adminPanel {
    list-style-type: none;
}

ul.adminPanel li {
    float: left;
    padding: 0;
    width: 300px;
}

ul.adminPanel li ul {
    width: 100%;
    height: 190px;
    list-style: square inside;
}

ul.adminPanel li ul li {
    margin: 0;
    padding: 0;
    border: 0;
    
}

ul.adminPanel h2 {font-size: 1.1em;}
ul.adminPanel h3 {font-size: 1em;}

/*-----------------------------------------------------------------------------
                        ADMIN TABLE FORMS
-----------------------------------------------------------------------------*/

table.adminPanel input[type=text] {
    width: 90px;
}


/******************************************************************************
                        COMMAND LINKS
******************************************************************************/

.claroCmd, .claroCmdDisabled {
    font-size: 0.9em;
}

#claroBody .claroCmd,
#claroBody a.claroCmd:link,
#claroBody a.claroCmd:visited {
    color: #369;
    font-weight: bold;
    text-decoration: none;
}

#claroBody a.claroCmd:hover,
#claroBody a.claroCmd:active {
    color: #111C99;
    font-weight: bold;
    text-decoration: none;
}

.claroCmdDisabled {
    color: #999;
    font-weight: bold;
    text-decoration: none;
}

/* Added for document view mode toolbar */

th .claroCmd {
    font-size: 0.9em;
    font-weight: bold;
    text-decoration: underline;
}

th .claroCmdDisabled {
    color: #999;
    font-size: 0.9em;
    font-weight: bold;
    text-decoration: none;
}

.claroCmd img,
.claroCmdDisabled img {
    vertical-align: text-bottom;
    padding: 0 1px;
}


/******************************************************************************
                        HOT STUFF (new events)
******************************************************************************/

/*
 * Classes family to emphase some item in the tool interface.
 * These two classes has to be used together to work correctly.
 *
 * SOME EXAMPLES :
 *
 *  <a href="0" class="item"><img src="icon.gif" />lorem ipsum</a><br />
 *  <a href="0" class="item hot"><img src="icon.gif" />lorem ipsum</a><br />
 *
 *  <span class="item"><img src="icon.gif" />lorem ipsum</span><br>
 *  <span class="item hot"><img src="icon.gif" />lorem ipsum<br>
 *
 *  <ul style="list-style-image:url(icon.gif);list-style-position:inside">
 *   <li class="item">lorem ipsum</li>
 *   <li class="item hot">lorem ipsum</li>
 *  </ul>
 */

.hot {
    padding-left: 15px;
    background-image: url(img/hot.png);
    background-repeat: no-repeat;
    background-position: center left;
}

.toolList .hot {
    margin-left: -15px;
}

.item h1.hot, 
.portlet h1.hot {
    padding: 2px 5px 2px 15px;
}

/*
 *Visually the same as the claroTable headerX but can be used outside of a table 
 * best on a block type tag
 */
.header {
    color: #444444;
    font-weight: bold;
    font-size: 1em;
    margin: 0;
    padding: 2px 5px 2px 5px;
    border-bottom: 1px solid #444444;
    background-color: #DDDDDD;
}

.claroBlock {
    width: 100%;
    margin: 5px auto;
}

.blockHeader {
    color: #444;
    font-weight: bold;
    padding: 2px 5px 2px 5px;
    margin: 0;
    background: #DDDDDD;
    border-bottom: 1px solid #444;
}

.claroBlockSuperHeader {
    color: #693;
    background-color: #DEEECE;
    border-bottom: 2px #87B665 solid;
    padding: 2px 5px 2px 5px;
    font-weight: bold;
}

.blockHeader img {
    vertical-align: text-bottom;
}

h1.blockHeader, 
h2.blockHeader, 
h3.blockHeader {
    font-size: 1em;
    text-transform: none;
}

.claroBlockContent {
    border-bottom: 1px solid #DDDDDD;
    padding: 5px;
}


/******************************************************************************
                        CLAROLINE TABLES
******************************************************************************/

/* Uniformize claroline table format. The class provide 3 header type
 *
 *     - superHeader : allowing to define table title above the column header
 *     - headerX : define header in the X axis for each column
 *     - headerY : define header in the Y axis for each rank
 *
 * Example of table using a super header and header in X axis
 *
 * <table class="claroTable">
 * <tr class="superHeader">
 * <th colspan="3">User Birthdate</th>
 * </tr>
 * <tr class="headerX">
 * <th>Firstname</th>
 * <th>Lastname</th>
 * <th>Birthdate</th>
 * </tr>
 *
 * <tbody>
 *
 * <tr>
 * <td>Hugues</td>
 * <td>Peeters</td>
 * <td>1969-09-27</td>
 * </tr>
 * <tr>
 * ...
 * </tr>
 *
 * </tbody>
 *
 * </table>
 *
 * Example of table using header in Y axis
 *
 *
 * <table class="claroTable">
 *
 * <tr class="superHeader">
 * <th colspan="3">User Birthdate</th>
 * </tr>
 *
 * <tr>
 * <th class="headerY">Firstname</th>
 * <td>Hugues</td>
 * <td> ...  </td>
 * </tr>
 *
 * <tr>
 * <th class="headerY">Lastname</th>
 * <td>Peeters</td>
 * <td> ...  </td>
 * </tr>
 *
 * <tr>
 * <th class="headerY">Birthdate</th>
 * <td>1969-09-27</td>
 * <td> ...  </td>
 * </tr>
 *
 * </table>
 */

.claroTable {
    text-align: left;
}

.claroTable td,
.claroTable th {
    vertical-align: middle;
    padding: 2px 5px 2px 5px;
    border-bottom: 1px solid #EDEDED;
}

.claroTable .superHeader th,
.claroTable th.superHeader {
    color: #444;
    background-color: #DDDDDD;
    border-bottom: 2px #444 solid;
    padding: 2px 5px 2px 5px;
    font-weight: bold;
}

.claroTable img {
    vertical-align: text-bottom;
}

.claroTable .headerY th,
.claroTable .headerX th, 
.claroTable thead th {
    color: #444;
    font-weight: bold;
    padding: 2px 5px 2px 5px;
    background-color: #DDDDDD;
    border-bottom: 1px #444 solid;
    text-align: center;
}

/* extension of claroTable class for Image Viewer */
.claroTable tr th.toolbar {
    font-weight: normal;
    padding: 2px 5px 2px 5px;
}

.claroTable tr.toolbar th.prev {
    text-align: left;
    font-weight: normal;
    padding: 2px 5px 2px 5px;
}

.claroTable tr.toolbar th.title {
    font-weight: bold;
    text-align: center;
    padding: 2px 5px 2px 5px;
}

.claroTable tr.toolbar th.next {
    text-align: center;
    font-weight: normal;
    padding: 2px 5px 2px 5px;
}

.claroTable td.workingWeek {
    vertical-align: top;
    color: #999;
    padding: 2px 5px 2px 5px;
}

.claroTable td.weekEnd {
    vertical-align: top;
    color: #73A244;
    padding: 2px 5px 2px 5px;
}
.claroTable tbody tr td.highlight {
    vertical-align: top;
    color: #CD853F;
    padding: 2px 5px 2px 5px;
}

.emphaseLine tbody td {
    border-bottom: solid #DDDEBC 1px ;
}

.emphaseLine tbody tr:hover {
    background-color: #EDEDED;
}

/* Pager */
.claroPager {
    text-align: center;
}

.claroPager img {
    vertical-align: text-bottom;
}

.claroPager .pagerBefore {
    text-align: right;
}

.claroPager .pagerAfter {
    text-align: left;
}

.claroPager .pagerPages {
    text-align: center;
    margin: 0 auto;
    padding: 1px 10px;
    
}


/******************************************************************************
                        INTERNAL MESSAGING
******************************************************************************/

/*TR line for platform message*/
.platformMessage { 
    background-color: #fee5c3;
}

/*TR line for unread message*/
.unreadMessage {
    background-color: #e6e5e5;
    font-weight: bold;
}


.unreadMessage a, 
.unreadMessage a:link ,
.unreadMessage a:active ,
.unreadMessage a:hover ,
.unreadMessage a:visited {
    font-weight: bold;
}

.im_context {
    /*color: #DDDDDD;*/
}

.im_list_action, .im_list_selection {
    text-align: center;
}

#im_paging {
    text-align: center;
}

.imInfoBlock {
    background: #DDDDDD;
    border-left: 1px solid #DDDDDD;
    border-bottom: 1px solid #DDDDDD;
    border-right: 1px solid #DDDDDD;
    padding: 5px 10px;
    margin: 0;
}

#im_message .header {
    margin: 0;
}

.imInfo .imInfoTitle {
    font-weight: bold;
    padding-right: 5px;
}

.imInfo .imInfoValue {
    
}

.imContent {
    padding: 0 15px;
    margin-top: 3px;
}

.imCmdList {
   padding-top: 3px; 
   margin-left: 0px;
   float: right;
}


/******************************************************************************
                        DEBUG BAR
******************************************************************************/

.debugBar {
    padding: 3px 5px;
    color: #F99;
    background-color:#A33;
    font-size: 70%;
}

.debugBar a,
.debugBar a:link,
.debugBar a:visited {
    color: #E6F;
}

.debugBar .claroDialogBox {
    color: #990000;
}


/******************************************************************************
                        MISCELLANEOUS
******************************************************************************/

.spoiler a {
    padding-left: 17px;
    background: url(img/spoiler.png) bottom left no-repeat;
}

.spoilerContent {
    display: none;
    background-color: #EFEFEF;
    padding: 2px;
    margin: 3px 0;
}
/*
 * 'claroMessageBox' is used to display all messages from the platform like
 * action confirmation, parameter request, warning mesage...
 * Things that are usually displayed in a dialog box into offline applications
 */

.claroMessageBox {
    background-color : #EEEEEE;
    border: 1px #693 solid;
    margin-left: 5px;
    font-size: 0.9em;
    color: #666;
}

.claroIntroSection {
    background-color: #F5F5F5;
    padding: 5px;
    margin-top : 5px;
    margin-bottom: 5px;
}

/* specific styling for dialog box messages */
.claroDialogBox {
    margin: 0 0 15px 0; 
    padding: 5px 85px 5px 10px; 
    border: 1px solid #DDDDDD;
    border-left: 5px solid #DDDDDD;
    background: #F9F7ED;
}

.boxInfo {
    border-color: #DDDDDD;
    background: #F9F7ED url(img/bg_boxinfo.png) bottom right no-repeat;
}

.boxSuccess {
    border-color: #090;
    background: #F9F7ED url(img/bg_boxsuccess.png) bottom right no-repeat;
}

.boxWarning {
    border-color: #FFBA00;
    background: #F9F7ED url(img/bg_boxwarning.png) bottom right no-repeat;
}

.boxError {
    border-color: #900;
    background: #F9F7ED url(img/bg_boxerror.png) bottom right no-repeat;
}

.boxQuestion {
    border-color: #369;
    background: #F9F7ED url(img/bg_boxquestion.png) bottom right no-repeat;
}

.claroDialogMsg { padding: 2px 5px 1px 20px; }
.claroDialogBox .msgInfo { background: url(img/information.png) top left no-repeat; } /* I _really_ don't think there is a need for an icon here */ /* Event with this one ? */
.claroDialogBox .msgSuccess { background: url(img/success.png) top left no-repeat; }
.claroDialogBox .msgWarning { background: url(img/warning.png) top left no-repeat; }
.claroDialogBox .msgError { background: url(img/error.png) top left no-repeat; }
.claroDialogBox .msgQuestion { background: url(img/question.png) top left no-repeat; }
.claroDialogBox .msgForm { padding: 3px 20px; }
.claroDialogBox .msgTitle { font-weight: bold; }

.warning b, .warning strong {
    color: #000;
}

.warning {
    color: #333;
}

/*
 * 'invisible' is generally attached to element that shouldn't be visible into
 * common user interface but which are visible in course manager or platform
 * administrator screen, showing that the element is deactivated or isn't
 * visible fo the other users
 */

.invisible {
    color: #999;
}

.invisible a,
.invisible a:link,
.invisible a:visited,
a.invisible,
a:link.invisible,
a:visited.invisible {
    color: #999;
}

/* menu */

.menu a.invisible:visited {
    color: #999;
}


/*
    'correct' is attached to element that must be highlighted as correct
    example : a good score in exercices
*/
.correct {
    color: #090;
}

/*
    'error' is attached to element that must be highlighted as correct
    example : a wrong score in exercices
    example : an error message
*/
.error {
    color: #900;
}

/*
    'highlight' is used when something needs to be especially shown to the user
    example : 'today' in the agenda
*/
.highlight {
    color: #CD853F;
    font-weight: bold;
}

/*
    'required' is used to set the color of the asterisk displayed before the required form field
*/
.required {
    color: red;
}

/*
 * 'rightMenu' is mainly use in the platform home page
 */

.claroRightMenu {
    background : #e7f2c1;
    background-color : #EEEEEE;
    border: 1px #693 solid;
    padding: 10px;
}

.claroRightMenu a:link,
.claroRightMenu a:visited {
    color: #369;
}

.claroRightMenu a:hover,
.claroRightMenu a:active {
    color: #693;
}

.claroRightMenu form {
    color: #369;
}


.HelpText {
    color: #999;
}
.HelpText ul {
    color: #999;
}

.claroToolTitle {
    margin: 15px 0 5px 0;
    padding: 0 0 0 15px;
    font-weight: bold;
    background-image: url(img/arrow_green.gif);
    background-position: 0px 5px;
    background-repeat: no-repeat;
}

/*
 * Navigation with tabs : configuration, modules, ...
 */

#navlist {
    margin: 10px;
    padding: 0 0 7px 10px;
    border-bottom: 1px solid #DEDEDE;
}

.tabTitle {
    padding: 3px 0;
    margin-left: 0;
    font-weight: bold;
    border-bottom: 1px solid #DEDEDE;
}

.tabTitle a {
    border-bottom: 4px solid #693;
}

#navlist li, .tabTitle li {
    margin: 0;
    padding: 0;
    list-style: none;
    display: inline;
}

#navlist li a:link,
#navlist li a:visited {
    margin: 0 5px 4px 5px;
    padding: 3px 0.5em;
    text-decoration: none;
}

#navlist li a:hover {
    border-bottom: 4px solid #EEEEEE;
}

#navlist li a.current {
    border-bottom: 4px solid #693;
}

form tr.admin td {
    background-color : #EEEEEE;
    border: 1px solid #630;
    margin: 10px 10px 10px 10px;

}

.linkCloseWindow {
    padding: 0;
    margin: 0;
    text-align:center;
}

ul.userList {
    list-style-type:none;
}

ul.userList li {
    float:left;
    position:relative;
    width:100px;
    padding:5px;
    margin:5px;
    text-indent: 0;
    background:#DDDDDD;
}

ul.userList li img.edit_link {
    position:absolute;
    right:0; top:0;
    z-index:100;
    display:none;
}

ul.userList li:hover img.edit_link {
    display:block;
}

ul.courses {
    list-style-type:none; 
    padding:0;
}

ul.courses li {
    margin-bottom:10px;
}

ul.courses dd {
    margin:0;
    font-size:.8em;
}

h4 {
    margin-bottom:5px;
}

/* Use it to highlight admin tools */
dd.adminControl, 
div.adminControl, 
span.adminControl {
    background:#F9F7E1;
    padding: 2px 5px 2px 5px;
    margin-left: -10px;
    border-left: 5px solid #AA3333;
}

.centerContent {
    text-align:center;
}

.separator {
    font-weight: normal;
}

.userName {
    color: #669933;
}

td.userCommands {padding-right: 20px;}
td.userCourseList {padding-left: 20px;}

.userCommands ul {
    margin: 0 0 10px 0;
    list-style-type: none;
}

.userCommands h1, 
.userCourseList h1 {
    font-size: 1.3em;
}

.userCommands h2, 
.userCourseList h2 {
    font-size: 1.2em;
}

.userCommands h3,
.userCommands h4,
.userCourseList h3,
.userCourseList h4 {
    font-size: 1em;
}

.attach {
    padding-left: 16px;
    background: url(img/attach.png) no-repeat left center;
}

.backLink {
    padding-left: 20px;
    background: url(img/back.png) no-repeat left center; 
}
