<table style="width: 100%;" border="0" cellspacing="7" cellpadding="2">
  <tbody>
    <tr>
      <td valign="top" width="70%">
        <p style="background-color: #5eb6dd;"><strong><span style="font-size: medium;"> Titre principal<br /></span></strong></p>
        <p>Blablablablabla</p>
        <p><span style="background-color: #ccc6ad;"> Titre 2 <span style="background-color: #ccc6ad;"> Titre 2</span>&#65279; <span style="background-color: #ccc6ad;"> Titre 2</span>&#65279; <span style="background-color: #ccc6ad;"> Titre 2</span>&#65279; <span style="background-color: #ccc6ad;"> Titre 2</span>&#65279; <span style="background-color: #ccc6ad;"> Titre 2</span>&#65279;<br /></span></p>
        <ul>
        <li>Du texte, du texte, du texte</li>
        <li>Du texte, du texte, du texte&#65279;</li>
        <li>Du texte, du texte, du texte&#65279;</li>
        <li>Du texte, du texte, du texte&#65279;</li>
        </ul>
        <p><span style="background-color: #ccc6ad;">2) Titre 2 <span style="background-color: #ccc6ad;"> Titre 2</span>&#65279; <span style="background-color: #ccc6ad;"> Titre 2</span>&#65279; <span style="background-color: #ccc6ad;"> Titre 2</span>&#65279; <br /></span></p>
        <ul>
        <li>Du texte, du texte, du texte&#65279;</li>
        <li>Du texte, du texte, du texte&#65279;</li>
        </ul>
        <p><span style="background-color: #ccc6ad;">3) <span style="background-color: #ccc6ad;">Titre 2 <span style="background-color: #ccc6ad;"> Titre 2</span>&#65279; <span style="background-color: #ccc6ad;"> Titre 2</span>&#65279; <span style="background-color: #ccc6ad;"> Titre 2</span></span>&#65279;</span></p>
        <ul>
        <li>Du texte, du texte, du texte&#65279;<br /><span class="resource"><a href="/claroline/work/work_list.php?assigId=6&amp;cidReset=true&amp;cidReq=MMOIRETFE" target="_self"></a></span></li>
        </ul>
      </td>
      <td valign="top" width="30%">
        <p style="background-color: #cf4024;"><span style="font-size: medium; color: #ffffff;"><strong> A ne pas manquer !</strong></span></p>
        <p>Ici, une petite image d'illustration, d'actualité, de ressource... + un hyperlien</p>
        <p> </p>
        <p>Ici, une petite image d'illustration, d'actualité, de ressource... + un hyperlien&#65279;</p>
        <p> </p>
        <p>Ici, une petite image d'illustration, d'actualité, de ressource... + un hyperlien&#65279;</p>
      </td>
    </tr>
  </tbody>
</table>