<table border="0" cellspacing="2" cellpadding="2" width="100%">
<tbody>
<tr>
<td width="50%" valign="top">
<h4>Title 1</h4>
<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Phasellus tempus. Curabitur bibendum felis quis sapien. Maecenas egestas, urna at feugiat porttitor, mi risus venenatis arcu, quis condimentum diam arcu eget dolor.</p>
</td>
<td width="50%" valign="top">
<h4>Title 2</h4>
<ul>
<li>Praesent fringilla auctor neque</li>
<li>Morbi tellus neque</li>
<li>Turpis eu accumsan placerat</li>
</ul>
</td>
</tr>
</tbody>
</table>
<br />